section#contact {
    background: linear-gradient(135deg, var(--color-primary-dark), var(--color-primary-light));

    .contact-left {
        color: var(--color-white);

        .head-text {
            span {
                font-size: 2.25rem;
                font-weight: bold;
            }

            h2 {
                font-size: 4rem;
                font-weight: bold;
            }
        }

        .contact-info {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .socials {
            // width: 50%;

            .icon-holder {
                width: 3.438rem;
                height: 3.438rem;
                background-color: var(--color-white);
                border-radius: 10px;
                padding: 0;
                font-size: 1.8rem;


                a {
                    color: var(--color-white);
                    cursor: pointer;
                    transition: .3s;
                    padding-top: 2px;
                }

                .fb {
                    background-color: var(--color-white);
                    border-radius: 50%;
                    height: 2.6rem;
                    width: 2.6rem;
                    font-size: 2.8rem;
                    color: #3B5998;

                    &:hover {
                        background-color: #3B5998;
                        color: var(--color-white);
                    }
                }

                .ig {
                    background-color: #C13584;
                    border-radius: 50%;
                    height: 2.864rem;
                    width: 2.864rem;

                    &:hover {
                        background-color: var(--color-white);
                        color: #C13584;
                    }
                }

                .yt {
                    background-color: #FF0000;
                    border-radius: 50%;
                    height: 2.864rem;
                    width: 2.864rem;

                    &:hover {
                        background-color: var(--color-white);
                        color: #FF0000;
                    }
                }

                .tw {
                    background-color: #1DA1F2;
                    border-radius: 50%;
                    height: 2.864rem;
                    width: 2.864rem;

                    &:hover {
                        background-color: var(--color-white);
                        color: #1DA1F2;
                    }
                }
            }
        }
    }
}