:root{
    --color-white:#fff;
    --color-primary:#106eea;
    --color-text:#444;
    --color-pale: #AAA;
    --color-dark-pale: #777;
    --color-light-pale: #BABABA;

    --bg-color-primary:#f6f9fe;
    --bg-color-secondary:#e7f1fd;
    --bg-color-pale:#f8f8f8;

    --border-color-light-blue:#d4e5fc;
}