#hikes {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(-45deg,
            var(--color-primary-light),
            var(--color-white));

    .hikes-col {
        padding: 1rem 3rem;
    }

    .hikes-header {
        h1 {
            font-size: 2.4rem;
            font-weight: 700;
        }

        p {
            font-size: 1.3rem;
        }
    }

    .card {
        position: relative;
        height: auto;
        // background: linear-gradient(-45deg, #47cf12, #0db401);
        background: linear-gradient(-45deg,
                var(--color-primary-light),
                var(--color-primary-dark));
        border-radius: 15px;
        margin: 20px auto;
        padding: 40px 20px;
        -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        -webkit-transition: 0.5s;
        transition: 0.5s;
        border: none;
    }

    .card:hover {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }

    .card::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: rgba(255, 255, 255, 0.1);
        z-index: 1;
        -webkit-transform: skewY(-5deg) scale(1.02);
        transform: skewY(-5deg) scale(1.02);
    }

    .title .fa {
        color: #fff;
        font-size: 60px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        line-height: 100px;
        -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    .title h2 {
        position: relative;
        margin: 20px 0 0;
        padding: 0;
        color: #fff;
        font-size: 28px;
        z-index: 2;
    }

    .price,
    .option {
        position: relative;
        z-index: 2;
    }

    .price h4 {
        margin: 0;
        padding: 20px 0;
        color: #fff;
        font-size: 40px;
    }

    .option ul {
        margin: 0;
        padding: 0;
    }

    .option ul li {
        margin: 0 0 10px;
        padding: 0;
        list-style: none;
        color: rgb(243, 243, 243);
        font-size: 16px;
    }

    .card a {
        position: relative;
        z-index: 2;
        background: #fff;
        color: var(--color-dark);
        width: 150px;
        height: 40px;
        line-height: 40px;
        border-radius: 40px;
        display: block;
        text-align: center;
        margin: 20px auto 0;
        font-size: 16px;
        cursor: pointer;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        transition: 0.3s all;

        &:hover {
            background: var(--color-primary-dark);
            border: 1px solid var(--color-primary);
            color: var(--color-white);
            transition: 0.3s all;
        }
    }

    .card a:hover {
        text-decoration: none;
    }

    .image {
        border-radius: .825rem;
        width: 95%;
        height: 12rem;
    }
}


@media screen and (max-width:980px) {
    .hikes-col {
        padding: .5rem 1.3rem !important;
    }
}

@media screen and (max-width:1200px) {
    .hikes-col {
        padding: .5rem 1.6rem !important;
    }
}